.btn {
    display: inline-block;
    border-radius: 10px;
    background-color: #1677FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
.textArea{
    padding: 4px 10px;
    width: 600px;
    min-height: 60px;
    border-radius: 10px;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
}
form{
    display: grid;
    justify-content: end;
}