table{
    width: 95%;
    table-layout: fixed;
    border-collapse:collapse;
    border-spacing: 0;
}
th{
    text-align:left;
    margin-left: 1px;
}
thead{
    font-size: 20px;
    border-bottom-style: solid;
    border-color: grey;
    border-width: 1pt;
}
tbody{
    font-size: 15px;
    font-weight:lighter;
}
tbody tr{
    height: 40px; 
}